:root {
  --theme-body-background: #14171a;
  --theme-sidebar-background: #181d20;
  --theme-contrast-background: #b28025;
  --theme-main-background: #333333;

  --theme-body-color: #8fa1b2;
  --theme-body-color-alt: #b6babf;
  --theme-content-color1: #a9bacb;
  --theme-content-color2: #8fa1b2;
  --theme-content-color3: #667380;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--theme-body-background);
  color: var(--theme-body-color);
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    'header header'
    'sidenav main'
    'footer footer';
}

body > header {
  grid-area: header;
}

body > footer {
  grid-area: footer;
}

body > main {
  grid-area: main;
  background-color: var(--theme-body-background);
}

body > nav {
  grid-area: sidenav;
  background-color: var(--theme-sidebar-background);
}

body > header,
body > footer,
body > main {
  padding: 0.2em 1em;
}
